
  
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
}
.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}